RewriteEngine On
# Redirect all to index.php
#except indexphp
RewriteCond %{REQUEST_URI} !=index.php
#except images:
RewriteCond %{REQUEST_URI} !\.(png|jpg|jpeg|webp|gif|)$
#except js:
RewriteCond %{REQUEST_URI} !\.(js)$
#except css:
RewriteCond %{REQUEST_URI} !\.(css)$
RewriteRule .* index.php

