$font-stack: cursive, Helvetica, sans-serif;
$primary-color: #000a51;
//$primary-color: #ccc;
$font-primary-color: #fff;
$article-background: #fff;
$button-background: #8bc34a;
$green-dark: #4caf50;
$button-color: #fff;
$max-width-default: 1200px;
$article-listing-gap: 30px;
$article-listing-cols: 3;
$error-color:#fe121a;
$success-color:#8bc34b;
$info-color:#333;
$warning-color:#ff9800;

.error {
  color:#fe121a;
}
// START default style sheet for HTML 4 from https://www.w3.org/TR/CSS2/sample.html
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}
strong {
  font-weight: bolder;
}
input,
select {
  display: inline-block;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
hr {
  border: 1px inset;
}
center {
  text-align: center;
}

//END default style sheet for HTML 4
table{
display: table;
border-collapse: separate;
border-spacing: 0px;
border-color: gray;
th,td{
  border:1px solid gray;
}
}
body {
  font: 100% $font-stack;
  background: $primary-color;
  color: #000;
  margin: 0px;
  word-break: break-word;
  

  img {
    max-width: 100%;
  }
}

.m-auto {
  margin: 0 auto;
}
.t-center {
  text-align: center;
}

main#content-box {
  max-width: $max-width-default;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  position: sticky;
  top: 0;
  background: $primary-color;
  z-index: 5;
  .boxed
  {
    max-width: $max-width-default;
    margin:auto;
  }
  h1 {
    padding:0px 8px;
    margin:0px auto;
    font-size: 40px;
    color: $font-primary-color;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
    color: unset;
  }
}
footer {
  display: block;
  margin: 10px 0px 0px 0px;
  padding: 4px;
  background-color: #000;
  color: #ccc;
  text-align: center;

  p {
    font-size: 14px;
    margin: 0px;
  }
}
.no-bcg {
  color: $font-primary-color;
}

/*START BUTTONS*/
.button,
a.button,
input.button {
  background-color: $button-background;
  color: $button-color;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: unset;
  min-width: 100px;
  text-align: center;
  margin: 2px;
  outline: none;
  font-size: 14px;
  line-height: 1.6;
  font-family: arial;
  border: 1px solid #444;
  cursor: pointer;
  word-break: break-word;

  &:hover {
    background: $green-dark;
    transition-duration: 0.4s;
    box-shadow: inset 1px 1px 4px 0px #000;
  }

  &:active {
    background: $primary-color;
    transition-duration: 0s;
  }
  &.button-red {
    background-color: red;
  }
  &.button-gray {
    background-color: gray;
  }
}
/*END BUTTONS*/
/*LISTING START*/
.article-listing {
  max-width: $max-width-default;
  margin-left: auto;
  margin-right: auto;
  padding: 0px $article-listing-gap;
  display: grid;
  $article-listing-element-width: ($max-width-default / $article-listing-cols) -
    (($article-listing-cols - 1) * $article-listing-gap) / $article-listing-cols;
  grid-template-columns: repeat(auto-fill, minmax($article-listing-element-width, 1fr));
  grid-gap: $article-listing-gap;

  @media only screen and (max-width: $article-listing-element-width+2*$article-listing-gap) {
    & {
      grid-template-columns: none;
      padding: 0px $article-listing-gap/2;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    background-color: $article-background;
    height: auto;
    padding: 0px;
    flex: 10 2 30%;
    box-shadow: 4px 4px 0px $green-dark;

    //except image
    & > h2,
    & > p,
    & > a {
      padding-left: 4px;
      padding-right: 4px;
    }

    img.featured {
      width: 100%;
      height: 214px;
      object-fit: cover;
    }

    a.read-more {
      margin: 4px;
      display: block;
      text-align: center;
      margin-top: auto;
    }
  }
}
/*END LISTING*/

/*START ARTICLE PAGE*/
#main-article {
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  column-gap: 8px;
  row-gap: 8px;

  @media only screen and (max-width: 380px) {
    grid-template-columns: 1;
    column-gap: 0px;
  }

  div,
  article,
  aside {
    background: white;
  }
  div h1,
  article {
    padding: 0px 8px;
  }
  aside {
    padding: 0px;
  }
  aside > .sticky {
    position: sticky;
    top: 0;
    & > *:not(#featured-slider) {
      margin: 4px;
    }
    #featured-slider {
      margin-top: 0px;
    }
  }

  .main-article-info {
    grid-column: 1 / -1;
    text-align: center;
    h1 {
      margin-bottom: 4px;
    }
    time,
    p.author {
      margin: 4px auto;
    }

    time {
      display: block;
    }

    img.featured {
      max-width: 100%;
      vertical-align: middle;
    }
    iframe {
      width: 100%;
    }
  }
  .main-article-content {
    grid-column: 1 / 3;
  }
}
/*END ARTICLE PAGE*/

.list-header {
  font-weight: bold;
}

/*START LOGIN PAGE*/
body.login {
  header {
    text-align: center;
  }
  #login-box {
    background-color: #fff;
    color: black;
    border-radius: 20px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 16px 32px;
    width: max-content;
    font-size: 18px;

    .button.login,
    input {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 24px;
    }

    .login-part {
      margin: 20px 8px;
    }
  }
  a.return {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: auto;
    text-align: center;
  }
}
/*END LOGIN PAGE*/

/*START PAGINATION*/
.pagination {
  display: block;
  margin: 24px auto;
  text-align: center;

  a.button {
    padding: 4px 16px;
    border: 2px solid #fff;
  }
}
/*END PAGINATION*/

/*START ALERTS*/
.alert  {
  display: block;
  margin: 8px auto;
  max-width: $max-width-default;
  text-align: center;
  color:#fff;
  background-color: #000;
  border:1px solid #000;
  position: relative;
  min-height: 16px;//close ma padding 8 i position absolute

  &.closed
  {
    display:none;
    opacity : 0;
    visibility: hidden;
  }

  &.info
  {
    background-color:$info-color;
  }
  &.warning
  {
    background-color:$warning-color;
  }
  &.success
  {
    background-color:$success-color;
  }
  &.error
  {
    background-color:$error-color;
  }

  span.close {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
    &:hover{
      background-color: black;
    }
}
}
/*END ALERTS*/

/*inspiorowane https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #dfdfdf; /* Light grey */
  border-top: 16px solid $primary-color; /* Blue */
  border-radius: 50%;
  animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//slider
//zostanie nadpisane
@keyframes transition-slider {
  0% {
    left: 0%;
  }
}

#featured-slider {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  margin: 12px 0px;
  word-break: break-word;

  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  .slider {
    position: relative;
    width: 100%; //zostanie nadpisane
    animation: 5s transition-slider infinite;
    height: 50vh;
    font-size: 0; //usuniecie odstepu miedy elementami

    &:hover {
      animation-play-state: paused; //wylaczenie animacji po najechaniu/ zostanie nadpisane po id
    }
    .slide {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: inherit;
      background-color: #000;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      .title {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 2.5vh;
        padding: 0px;
        z-index: 1;
        background: none;
        color: #fff;
        background: linear-gradient(#00000000, #000000, #00000000);
        overflow: hidden;
        text-align: center;
        &:hover {
          transition-duration: .4s;
           background-color: #ffffff33;
        }
        .text {
          background: linear-gradient(#00000000, #00000088, #00000088, #00000000);
          text-decoration: none;
          padding: 16px 8px;
          max-height: 100%;
          overflow: hidden;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
