@charset "UTF-8";
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}

h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

strong {
  font-weight: bolder;
}

input,
select {
  display: inline-block;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

hr {
  border: 1px inset;
}

center {
  text-align: center;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  border-color: gray;
}

table th,
table td {
  border: 1px solid gray;
}

body {
  font: 100% cursive, Helvetica, sans-serif;
  background: #000a51;
  color: #000;
  margin: 0px;
  word-break: break-word;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body img {
  max-width: 100%;
  height: auto;
}

body > * {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body footer {
  margin-top: auto;
  padding: 4px 0px;
}

.m-auto {
  margin: 0 auto;
}

.t-center {
  text-align: center;
}

main#content-box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.boxed {
  max-width: 1200px;
  margin: auto;
}

header {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #000a51;
  z-index: 5;
  top: 0px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header h1 {
  padding: 0px 8px;
  margin: 0px auto;
  font-size: 40px;
  color: #fff;
  line-height: 1.6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header a {
  text-decoration: none;
  color: unset;
}

header.scroll {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header.scroll h1 {
  font-size: 20px;
  padding: 0px 4px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

footer {
  display: block;
  margin: 10px 0px 0px 0px;
  background-color: #000;
  color: #ccc;
  text-align: center;
}

footer p {
  font-size: 14px;
  margin: 0px;
}

.no-bcg {
  color: #fff;
}

.no-bcg a {
  color: #00e2ff;
}

/*START BUTTONS*/
.button,
a.button,
input.button {
  background-color: #8bc34a;
  color: #fff;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: unset;
  min-width: 100px;
  text-align: center;
  margin: 2px;
  outline: none;
  font-size: 14px;
  line-height: 1.6;
  font-family: arial;
  border: 1px solid #444;
  cursor: pointer;
  word-break: break-word;
}

.button:hover,
a.button:hover,
input.button:hover {
  background: #4caf50;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: inset 1px 1px 4px 0px #000;
          box-shadow: inset 1px 1px 4px 0px #000;
}

.button:active,
a.button:active,
input.button:active {
  background: #000a51;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.button.button-red,
a.button.button-red,
input.button.button-red {
  background-color: red;
}

.button.button-gray,
a.button.button-gray,
input.button.button-gray {
  background-color: gray;
}

/*END BUTTONS*/
.error {
  color: #fe121a;
}

/*LISTING START*/
.article-listing {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 30px;
}

@media only screen and (max-width: 440px) {
  .article-listing {
    -ms-grid-columns: none;
        grid-template-columns: none;
    padding: 0px 15px;
  }
}

.article-listing article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  height: auto;
  padding: 0px;
  -webkit-box-flex: 10;
      -ms-flex: 10 2 30%;
          flex: 10 2 30%;
  -webkit-box-shadow: 4px 4px 0px #4caf50;
          box-shadow: 4px 4px 0px #4caf50;
}

.article-listing article > h2,
.article-listing article > p,
.article-listing article > a {
  padding-left: 4px;
  padding-right: 4px;
}

.article-listing article img.featured {
  width: 100%;
  height: 214px;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-listing article a.read-more {
  margin: 4px;
  display: block;
  text-align: center;
  margin-top: auto;
}

/*END LISTING*/
/*START ARTICLE PAGE*/
#main-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 8px;
}

@media only screen and (max-width: 1172px) {
  #main-article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    margin: auto 8px;
  }
}

#main-article div,
#main-article article,
#main-article aside {
  background: white;
}

#main-article div h1,
#main-article article {
  padding: 0px 8px;
}

#main-article aside {
  padding: 0px;
}

#main-article aside .newest {
  margin-bottom: 30px;
}

#main-article aside .newest a {
  text-decoration: none;
}

#main-article aside > .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 16px;
}

#main-article aside > .sticky > *:not(#featured-slider) {
  margin: 4px;
}

#main-article aside > .sticky #featured-slider {
  margin-top: 0px;
}

#main-article .main-article-info {
  grid-column: 1 / -1;
  text-align: center;
}

#main-article .main-article-info h1 {
  margin-bottom: 4px;
}

#main-article .main-article-info time,
#main-article .main-article-info p.author {
  margin: 4px auto;
}

#main-article .main-article-info time {
  display: block;
}

#main-article .main-article-info img.featured {
  max-width: 100%;
  vertical-align: middle;
}

#main-article .main-article-info iframe {
  width: 100%;
}

#main-article .main-article-content {
  padding-bottom: 12px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

/*END ARTICLE PAGE*/
iframe {
  max-width: 100%;
}

.list-header {
  font-weight: bold;
}

/*START LOGIN PAGE*/
body.login header {
  text-align: center;
}

body.login #login-box {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 16px 32px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  max-width: 100%;
  margin: 4px auto;
}

@media only screen and (max-width: 768px) {
  body.login #login-box {
    padding: 4px 4px;
  }
}

body.login #login-box .button.login,
body.login #login-box input {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

body.login #login-box .login-part {
  margin: 20px 8px;
}

body.login #login-box .button {
  font-size: 14px;
  width: auto;
}

body.login a.return {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: auto;
  text-align: center;
  margin-top: 4px;
}

/*END LOGIN PAGE*/
/*START PAGINATION*/
.pagination {
  display: block;
  margin: 24px auto;
  text-align: center;
}

.pagination a.button {
  padding: 4px 16px;
  border: 2px solid #fff;
}

/*END PAGINATION*/
/*START ALERTS*/
.alert {
  display: block;
  margin: 8px auto;
  max-width: 1200px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  position: relative;
  min-height: 16px;
}

.alert.closed {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.alert.info {
  background-color: #333;
}

.alert.warning {
  background-color: #ff9800;
}

.alert.success {
  background-color: #8bc34b;
}

.alert.error {
  background-color: #fe121a;
}

.alert span.close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px;
}

.alert span.close:hover {
  background-color: black;
}

/*END ALERTS*/
.loader-parent {
  position: relative;
  /*animacja ładowania inspirowana https://www.w3schools.com/howto/howto_css_loader.asp */
}

.loader-parent .loader {
  border: 16px solid #dfdfdf;
  /* Light grey */
  border-top: 16px solid #000a51;
  /* Blue */
  border-radius: 50%;
  -webkit-animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 50%;
  right: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes transition-slider {
  0% {
    left: 0%;
  }
}

@keyframes transition-slider {
  0% {
    left: 0%;
  }
}

#featured-slider {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  margin: 12px 0px;
  word-break: break-word;
}

#featured-slider * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#featured-slider .slider {
  position: relative;
  width: 100%;
  -webkit-animation: 5s transition-slider infinite;
  animation: 5s transition-slider infinite;
  height: 50vh;
  font-size: 0;
}

#featured-slider .slider:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#featured-slider .slider .slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: inherit;
  background-color: #000;
  position: relative;
}

#featured-slider .slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}

#featured-slider .slider .slide .title {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2.5vh;
  padding: 0px;
  z-index: 1;
  background: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(#000000), to(#00000000));
  background: linear-gradient(#00000000, #000000, #00000000);
  overflow: hidden;
  text-align: center;
}

#featured-slider .slider .slide .title:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #ffffff33;
}

#featured-slider .slider .slide .title .text {
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(#00000088), color-stop(#00000088), to(#00000000));
  background: linear-gradient(#00000000, #00000088, #00000088, #00000000);
  text-decoration: none;
  padding: 16px 8px;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

pre {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */