$font-stack: cursive, Helvetica, sans-serif;
$primary-color: #000a51;
$primary-color: #485add;//todo:delete
$font-primary-color: #fff;
$article-background: #fff;
$button-background: #8bc34a;
$green-dark:#4caf50;
$button-color: #fff;
$max-width-default: 1200px;
$article-listing-gap: 30px;
$article-listing-cols: 3;


body {
  font: 100% $font-stack;
  background: $primary-color;
  color: #000;
  margin: 0px;
}

.m-auto {
  margin: 0 auto;
}
.t-center{
  text-align: center;
}

main#content{
  max-width: $max-width-default;
  margin-left: auto;
  margin-right: auto;
}

header {
  max-width: $max-width-default;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px;
  h1 {
    padding-left: 8px;
    font-size: 40px;
    color: $font-primary-color;
  }
  a {
    text-decoration: none;
    color: unset;
  }
}
footer {
  display: block;
  margin: 10px 0px 0px 0px;
  padding: 4px;
  background-color: #000;
  color: #ccc;
  text-align: center;

  p {
    font-size: 14px;
    margin: 0px;
  }
}
.no-bcg{
  color:$font-primary-color;
}

/*BUTTONS*/
.button,
a.button, input.button {
  background-color: $button-background;
  color: $button-color;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: unset;
  min-width: 100px;
  text-align: center;

  &:hover {
    background:$green-dark;
    transition-duration: 0.4s;
    box-shadow: inset 1px 1px 4px 0px #000;
  }

  &:active {
    background: $primary-color;
    transition-duration: 0s;
  }
  &.button-red{
    background-color: red;
  }
}

.article-listing {
  max-width: $max-width-default;
  margin-left: auto;
  margin-right: auto;
  padding: 0px $article-listing-gap;
  display: grid;
  $article-listing-element-width: ($max-width-default / $article-listing-cols) -
    (($article-listing-cols - 1) * $article-listing-gap) / $article-listing-cols;
  grid-template-columns: repeat(
    auto-fill,
    minmax($article-listing-element-width, 1fr)
  );
  grid-gap: $article-listing-gap;

  @media only screen and (max-width: $article-listing-element-width+2*$article-listing-gap) {
    & {
      grid-template-columns: none;
      padding: 0px $article-listing-gap/2;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    background-color: $article-background;
    height: auto;
    padding: 0px;
    flex: 10 2 30%;
    box-shadow: 4px 4px 0px $green-dark;

    //except image
    & > h2,
    & > p,
    & > a {
      padding-left: 4px;
      padding-right: 4px;
    }

    img.featured {
      width: 100%;
      height: 214px;
      object-fit: cover;
    }

    a.read-more {
      margin: 4px;
      display: block;
      text-align: center;
      margin-top: auto;
    }
  }
}

/*
.article-listing {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-around;
  align-items: stretch;
  align-content: flex-start;

  article {
    display: flex;
    flex-direction: column;
    background-color: $article-background;
    height: auto;
    margin: 8px;
    padding: 8px 0px;
    flex: 10 2 30%;

    //except image
    & > h2,
    & > p,
    & > a {
      padding-left: 4px;
      padding-right: 4px;
    }
    h2 {
      margin: 0px;
      padding: 4px;
      text-align: center;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    img {
      width: 100%;
    }

    a.read-more {
      margin:4px;
      display: block;
      text-align: center;
      margin-top: auto;
    }
  }
}
*/
