$max-width-default: 1200px;
$font-primary-color: #fff;
$tiles-color: #4caf50;
$tiles-color-hover: #4caf50 - #333333;
body.admin {
  table {
    background-color: $font-primary-color;
    width: 100%;

    td {
      border: 1px solid gray;
    }
    th {
      border: 1px solid #ddd;
    }
    td,
    th {
      max-width: 50vw;
    }

    &#articles,
    &#users {
      border-spacing: 0px;
      width: 100%;
      border: 1px solid black;
      word-break: break-word;

      thead tr th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: #fff;
        border-bottom: 2px solid #ccc;

        a.sortable {
          width: 100%;
          display: block;
          text-decoration: none;
        }
      }

      td.actions {
        display: flex;
        flex-direction: column;

        a.button {
          padding: 0px;
          min-width: unset;
          word-break: initial;
        }
      }

      .article {
        &.not-published {
          color: #888;
        }
      }
    }
  }

  form.edit-article {
    padding: 4px;
    border: 1px solid $font-primary-color;
    input#title {
      width: 90%;
      font-size: 28px;
      margin: 4px;
    }
    .wyswig {
      display: none;
    }
    .wyswig-parent {
      background: #fff;
      width: 90%;
      margin: 0px auto;
    }
    .wyswig-parent,
    .tox.tox-tinymce {
      min-height: 360px;
    }
  }
  #photo-selection,
  #add-picture-from-file {
    color: #fff;
    border: 1px solid #aaa;
  }
  #photo-selection {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
    text-align: left;
    padding: 12px auto;

    .photo-from-file {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: flex-start;
      padding: 16px 0px;

      input {
        display: none;
        visibility: hidden;
      }

      label {
        display: block;
        position: relative;
        cursor: pointer;
        border: 3px solid #000;
      }

      input:checked + label {
        border: 3px solid green;
      }

      input:checked + label::before {
        content: "✓";
        position: absolute;
        background-color: #ffffff;
        color: #000;
        font-weight: bold;
        top: 4px;
        left: 4px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid black;
        text-align: center;
        opacity: 0.5;
        font-size: 40px;
        line-height: 1;
      }
    }

    .photo-selection-option {
      display: block;
      margin: auto 0px;
    }
    img.file-selection {
      max-width: 200px;
      max-height: 200px;
      vertical-align: middle;
    }
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tile {
      margin: 12px 12px;
      text-align: center;
      background-color: $tiles-color;
      flex: 1 1 400px;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        background-color: $tiles-color-hover;
      }

      & > a {
        font-size: 30px;
        text-decoration: none;
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

div#admin-header-menu {
  display: block;
  background: #000;
  color: #fff;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: auto;
    margin-bottom: 4px;
    padding: 4px;
    max-width: $max-width-default;

    a {
      border: 1px solid #000;
      background-color: #333;
      padding: 2px 4px;
      margin: 0px 4px;
      &:hover {
        border: 1px solid #eee;
        background-color: #666;
        transition-duration: 0.2s;
      }
      &.current {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}

